body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bba2a2;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#colorbox {
    width: 200px;
    height: 200px;
    background-color: #4ab7ff; 
    margin: 20px auto;
}

#change-color-btn {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #abebc5;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#change-color-btn:hover {
    background-color: #203b2c;
}
